<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">   
    <title>404</title>
   <!-- <title>This is only mandatoty HTML5 tag inside head tag in HTML</title> -->
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMsg}}</p>
    </div>
    {{>footer}}
    <br>
    <br>
</body>
</html>