<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="icon" href="/img/weather.png">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.png">
        <p>Created by {{name}}</p>
    </div>
    {{>footer}}
    <br>
    <br>
</body>
</html>